/*prefered css file than inline css*/

body	{
	background-image: url(https://images.unsplash.com/photo-1549926345-dd490df47bd2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
	background-size: cover;
	color: white;
}

h3	{ /*same comment read the last one*/
	color: rgba(133,130,230,1); /*藕荷色，0-1 透明-不透明*/
	text-align: center; /*end*/
	border: 3px dotted pink;
}

div img   {
	width: 400px;
	height: 520px;
	margin: 30px;
	transition: all 0.3s;
}

.Pic	{
	display: flex; /*flexbox*/
	flex-wrap: wrap; /*wrap if windows not large enough*/
	justify-content: center; /*居中，flex-end*/
}

div img:hover	{
	transform: rotate(5deg);
	transform: scale(0.9);
}