*
{
	padding: 0;
	margin: 0;
}

body
{
	margin: 0;
	background-color: #FFF;
	font-family: sans-serif;
}


.topnav
{
	height: 70px;
	background-color: #FFF;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	display: flex;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.topnav .logo
{
	line-height: 35px;
	font-family: 'Fira Sans', sans-serif;
	color: #FFC934;
	font-size: 40px;
	letter-spacing: -3px;
	padding: 15px 50px;
	height: 40px;
	text-shadow: 1px 1px 2px #000;
}

.logo:hover
{
	background-color: transparent;
}

.topnav > ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	flex: 1;
}

.topnav > ul > li
{
	float: left;
}

.navitem
{
	display: inline-block;
	padding: 15px 30px;
	height: 40px;
	line-height: 40px;
	color: #000;
	text-decoration: none;
	transition-duration: 0.3s;
}

.navitem:hover, .dropdown:hover > a
{
	color: #FFC934;
}

.dropdown
{
	overflow: hidden;
	background-color: #FFF;
	color: #696969;
	float: right;
}

.dropdownitems
{
	display: none;
	position: relative;
	transition: all 0.5 ease;
	background-color: #FFF;
	z-index: 1;
}

.dropdownitems a
{
	float: none;
	color: #000;
	padding: 12px 0 12px 0;
	text-decoration: none;
	display: block;
	text-align: center;
	transition-duration: 0.3s;
}

.dropdown:hover .dropdownitems
{
	display: block;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}

.dropdownitems a:hover
{
	color: #FFC934;
}

.container
{
	overflow: hidden;
	background-color: #FFF;
	padding: 10px;
	border-radius: 10px;
	border-top: 2px solid #000;
	border-left: 4px double #FFC934;
	border-right: 4px double #FFC934;
	margin: 6rem 2rem 3rem 2rem;
	color: #FFC934;
	text-align: center;
	position: relative;
}

.logo
{
	font-family: 'Fira Sans', sans-serif;
	color: #FFC934;
	font-size: 30px;
	letter-spacing: -2px;
	text-shadow: 1px 1px 2px #000;
	text-align: center;
	padding: 10px 20px;
}

hr
{
	margin: 10px 0 20px 0;
	border: 1px solid #000;
}

.homelist
{
	margin: 75px 0;
}

.header
{
	display: inline-flex;
}

.wildcat1
{
	width: 86.4px;
	height: 57.6px;
}

.wildcat1:hover
{
	transform: rotate(-30deg);
}

.wildcat2
{
	width: 86.4px;
	height: 57.6px;
}

.wildcat2:hover
{
	transform: rotate(30deg);
}

.homelist ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	flex: 1;
}

.listitem
{
	display: inline-block;
	font-size: 20px;
	padding: 15px 30px;
	height: 40px;
	color: #000;
	text-decoration: none;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-radius: 20px;
	line-height: 40px;
	width: 25%;
}

.listitem:hover
{
	color: #000;
	box-shadow: 0 1px 20px #999;
	background-color: rgba(255, 201, 52, 0.8);
}

.bottomnav
{
	height: 100px;
	background-color: #000;
	box-shadow: 0px -8px 16px 0px rgba(0, 0, 0, 0.2);
	display: flex;
	width: 100%;
	text-align: center;
	bottom: 0;
	left: 0;
	position: relative;
}

.bottomnav > ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	flex: 1;
	margin-left: 10px;
}

.bottomnav > ul > li
{
	display: inline-block;
}

.bottomitem
{
	display: inline-block;
	padding: 30px 30px;
	height: 40px;
	color: #FFF;
	text-decoration: none;
	transition-duration: 0.3s;
	line-height: 30px
}

.bottomitem:hover
{
	color: #FFC934;
}

.footerlogo
{
	font-family: 'Fira Sans', sans-serif;
	color: #FFC934;
	font-size: 30px;
	letter-spacing: -2px;
	text-shadow: 1px 1px 2px #000;
	text-align: center;
}

.copyright
{
	float: right;
	padding: 15px 20px 0 0;
}

.copyright a
{
	text-decoration: none;
}

.copyright p
{
	color: #FFF;
	text-align: center;
}

.slogan
{
	font-size: 11px;
}

@media screen and (max-width: 400px) 
{
  .topnav a 
  {
    float: none;
    width: 100%;
  }
}
