body	{
	height: 100vh;
	display: flex;
	background-color: gray;
	justify-content: center;
	align-items: center;
}

.canvas	{
	width: 380px;
	height: 320px;
	border: 1px solid black;
	background-color: #FFC934; /*FFD439*//*#F4B83F*/
	/*transform: scale(0.25);*/
}

.pixel	{
	width: 10px;
	height: 10px;
	float: left;
	box-shadow: 0px 0px 0.5px #FFC934;
}

/*black*/
.pixel:nth-child(8),
.pixel:nth-child(46),
.pixel:nth-child(47),
.pixel:nth-child(48),
.pixel:nth-child(84),
.pixel:nth-child(86),
.pixel:nth-child(87),
.pixel:nth-child(122),
.pixel:nth-child(123),
.pixel:nth-child(126),
.pixel:nth-child(127),
.pixel:nth-child(128),
.pixel:nth-child(129),
.pixel:nth-child(160),
.pixel:nth-child(161),
.pixel:nth-child(168),
.pixel:nth-child(169),
.pixel:nth-child(170),
.pixel:nth-child(171),
.pixel:nth-child(172),
.pixel:nth-child(173),
.pixel:nth-child(174),
.pixel:nth-child(175),
.pixel:nth-child(176),
.pixel:nth-child(177),
.pixel:nth-child(198),
.pixel:nth-child(199),
.pixel:nth-child(200),
.pixel:nth-child(202),
.pixel:nth-child(203),
.pixel:nth-child(216),
.pixel:nth-child(217),
.pixel:nth-child(218),
.pixel:nth-child(234),
.pixel:nth-child(235),
.pixel:nth-child(237),
.pixel:nth-child(238),
.pixel:nth-child(241),
.pixel:nth-child(242),
.pixel:nth-child(243),
.pixel:nth-child(244),
.pixel:nth-child(245),
.pixel:nth-child(246),
.pixel:nth-child(247),
.pixel:nth-child(258),
.pixel:nth-child(259),
.pixel:nth-child(271),
.pixel:nth-child(276),
.pixel:nth-child(277),
.pixel:nth-child(278),
.pixel:nth-child(279),
.pixel:nth-child(280),
.pixel:nth-child(281),
.pixel:nth-child(282),
.pixel:nth-child(283),
.pixel:nth-child(284),
.pixel:nth-child(285),
.pixel:nth-child(286),
.pixel:nth-child(287),
.pixel:nth-child(288),
.pixel:nth-child(298),
.pixel:nth-child(299),
.pixel:nth-child(308),
.pixel:nth-child(315),
.pixel:nth-child(316),
.pixel:nth-child(317),
.pixel:nth-child(318),
.pixel:nth-child(319),
.pixel:nth-child(320),
.pixel:nth-child(321),
.pixel:nth-child(329),
.pixel:nth-child(330),
.pixel:nth-child(331),
.pixel:nth-child(332),
.pixel:nth-child(333),
.pixel:nth-child(336),
.pixel:nth-child(337),
.pixel:nth-child(345),
.pixel:nth-child(368),
.pixel:nth-child(369),
.pixel:nth-child(372),
.pixel:nth-child(375),
.pixel:nth-child(376),
.pixel:nth-child(382),
.pixel:nth-child(383),
.pixel:nth-child(409),
.pixel:nth-child(410),
.pixel:nth-child(411),
.pixel:nth-child(414),
.pixel:nth-child(415),
.pixel:nth-child(419),
.pixel:nth-child(420),
.pixel:nth-child(422),
.pixel:nth-child(449),
.pixel:nth-child(453),
.pixel:nth-child(454),
.pixel:nth-child(457),
.pixel:nth-child(458),
.pixel:nth-child(459),
.pixel:nth-child(474),
.pixel:nth-child(475),
.pixel:nth-child(476),
.pixel:nth-child(477),
.pixel:nth-child(478),
.pixel:nth-child(479),
.pixel:nth-child(480),
.pixel:nth-child(481),
.pixel:nth-child(482),
.pixel:nth-child(483),
.pixel:nth-child(484),
.pixel:nth-child(492),
.pixel:nth-child(493),
.pixel:nth-child(495),
.pixel:nth-child(496),
.pixel:nth-child(502),
.pixel:nth-child(506),
.pixel:nth-child(507),
.pixel:nth-child(508),
.pixel:nth-child(509),
.pixel:nth-child(518),
.pixel:nth-child(519),
.pixel:nth-child(520),
.pixel:nth-child(524),
.pixel:nth-child(525),
.pixel:nth-child(526),
.pixel:nth-child(528),
.pixel:nth-child(529),
.pixel:nth-child(530),
.pixel:nth-child(531),
.pixel:nth-child(532),
.pixel:nth-child(533),
.pixel:nth-child(534),
.pixel:nth-child(539),
.pixel:nth-child(548),
.pixel:nth-child(549),
.pixel:nth-child(550),
.pixel:nth-child(551),
.pixel:nth-child(552),
.pixel:nth-child(553),
.pixel:nth-child(561),
.pixel:nth-child(562),
.pixel:nth-child(563),
.pixel:nth-child(564),
.pixel:nth-child(567),
.pixel:nth-child(568),
.pixel:nth-child(569),
.pixel:nth-child(570),
.pixel:nth-child(571),
.pixel:nth-child(577),
.pixel:nth-child(583),
.pixel:nth-child(584),
.pixel:nth-child(592),
.pixel:nth-child(593),
.pixel:nth-child(594),
.pixel:nth-child(595),
.pixel:nth-child(596),
.pixel:nth-child(597),
.pixel:nth-child(598),
.pixel:nth-child(599),
.pixel:nth-child(600),
.pixel:nth-child(601),
.pixel:nth-child(602),
.pixel:nth-child(607),
.pixel:nth-child(608),
.pixel:nth-child(609),
.pixel:nth-child(614),
.pixel:nth-child(625),
.pixel:nth-child(626),
.pixel:nth-child(627),
.pixel:nth-child(634),
.pixel:nth-child(635),
.pixel:nth-child(645),
.pixel:nth-child(646),
.pixel:nth-child(647),
.pixel:nth-child(651),
.pixel:nth-child(652),
.pixel:nth-child(660),
.pixel:nth-child(661),
.pixel:nth-child(673),
.pixel:nth-child(674),
.pixel:nth-child(676),
.pixel:nth-child(683),
.pixel:nth-child(685),
.pixel:nth-child(689),
.pixel:nth-child(690),
.pixel:nth-child(712),
.pixel:nth-child(713),
.pixel:nth-child(714),
.pixel:nth-child(715),
.pixel:nth-child(716),
.pixel:nth-child(717),
.pixel:nth-child(718),
.pixel:nth-child(721),
.pixel:nth-child(723),
.pixel:nth-child(724),
.pixel:nth-child(727),
.pixel:nth-child(728),
.pixel:nth-child(750),
.pixel:nth-child(751),
.pixel:nth-child(756),
.pixel:nth-child(758),
.pixel:nth-child(762),
.pixel:nth-child(765),
.pixel:nth-child(766),
.pixel:nth-child(771),
.pixel:nth-child(787),
.pixel:nth-child(788),
.pixel:nth-child(794),
.pixel:nth-child(795),
.pixel:nth-child(796),
.pixel:nth-child(800),
.pixel:nth-child(801),
.pixel:nth-child(803),
.pixel:nth-child(804),
.pixel:nth-child(809),
.pixel:nth-child(825),
.pixel:nth-child(832),
.pixel:nth-child(833),
.pixel:nth-child(839),
.pixel:nth-child(841),
.pixel:nth-child(842),
.pixel:nth-child(843),
.pixel:nth-child(846),
.pixel:nth-child(847),
.pixel:nth-child(863),
.pixel:nth-child(878),
.pixel:nth-child(879),
.pixel:nth-child(880),
.pixel:nth-child(881),
.pixel:nth-child(884),
.pixel:nth-child(885),
.pixel:nth-child(901),
.pixel:nth-child(917),
.pixel:nth-child(918),
.pixel:nth-child(919),
.pixel:nth-child(920),
.pixel:nth-child(923),
.pixel:nth-child(924),
.pixel:nth-child(939),
.pixel:nth-child(944),
.pixel:nth-child(957),
.pixel:nth-child(958),
.pixel:nth-child(959),
.pixel:nth-child(961),
.pixel:nth-child(962),
.pixel:nth-child(968),
.pixel:nth-child(969),
.pixel:nth-child(970),
.pixel:nth-child(978),
.pixel:nth-child(980),
.pixel:nth-child(981),
.pixel:nth-child(982),
.pixel:nth-child(983),
.pixel:nth-child(998),
.pixel:nth-child(999),
.pixel:nth-child(1000),
.pixel:nth-child(1001),
.pixel:nth-child(1006),
.pixel:nth-child(1007),
.pixel:nth-child(1009),
.pixel:nth-child(1010),
.pixel:nth-child(1011),
.pixel:nth-child(1017),
.pixel:nth-child(1018),
.pixel:nth-child(1021),
.pixel:nth-child(1039),
.pixel:nth-child(1040),
.pixel:nth-child(1045),
.pixel:nth-child(1050),
.pixel:nth-child(1051),
.pixel:nth-child(1059),
.pixel:nth-child(1080),
.pixel:nth-child(1081),
.pixel:nth-child(1084),
.pixel:nth-child(1089),
.pixel:nth-child(1090),
.pixel:nth-child(1096),
.pixel:nth-child(1097),
.pixel:nth-child(1120),
.pixel:nth-child(1121),
.pixel:nth-child(1123),
.pixel:nth-child(1128),
.pixel:nth-child(1129),
.pixel:nth-child(1134),
.pixel:nth-child(1161),
.pixel:nth-child(1167),
.pixel:nth-child(1170),
.pixel:nth-child(1171),
.pixel:nth-child(1205),
.pixel:nth-child(1206),
.pixel:nth-child(1207),
.pixel:nth-child(1208)	{background: black;}

/*white*/
.pixel:nth-child(85),
.pixel:nth-child(86),
.pixel:nth-child(124),
.pixel:nth-child(370),
.pixel:nth-child(371),
.pixel:nth-child(485),
.pixel:nth-child(486),
.pixel:nth-child(487),
.pixel:nth-child(488),
.pixel:nth-child(522),
.pixel:nth-child(523),
.pixel:nth-child(527),
.pixel:nth-child(559),
.pixel:nth-child(560),
.pixel:nth-child(561),
.pixel:nth-child(565),
.pixel:nth-child(566),
.pixel:nth-child(603),
.pixel:nth-child(604),
.pixel:nth-child(605),
.pixel:nth-child(606),
.pixel:nth-child(607),
.pixel:nth-child(636),
.pixel:nth-child(637),
.pixel:nth-child(638),
.pixel:nth-child(639),
.pixel:nth-child(643),
.pixel:nth-child(644),
.pixel:nth-child(645),
.pixel:nth-child(678),
.pixel:nth-child(679),
.pixel:nth-child(680),
.pixel:nth-child(681),
.pixel:nth-child(682),
.pixel:nth-child(719),
.pixel:nth-child(720),
.pixel:nth-child(757),
.pixel:nth-child(1016),
.pixel:nth-child(1017),
.pixel:nth-child(1018),
.pixel:nth-child(1019),
.pixel:nth-child(1020),
.pixel:nth-child(1055),
.pixel:nth-child(1056),
.pixel:nth-child(1057),
.pixel:nth-child(1058),
.pixel:nth-child(1094),
.pixel:nth-child(1095),
.pixel:nth-child(1132)	{background: white;}


.canvas:hover	{
	background: white;
}