*
{
	padding: 0;
	margin: 0;
}

body
{
	margin: 0;
	background-color: #FFF;
	font-family: sans-serif;
}


.topnav
{
	height: 70px;
	background-color: #FFF;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	display: inline-flex;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.topnav .logo
{
	line-height: 35px;
	font-family: 'Fira Sans', sans-serif;
	color: #FFC934;
	font-size: 40px;
	letter-spacing: -3px;
	padding: 15px 50px;
	height: 40px;
	text-shadow: 1px 1px 2px #000;
}

.logo:hover
{
	background-color: transparent;
}

.topnav > ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	flex: 1;
}

.topnav > ul > li
{
	float: left;
}

.navitem
{
	display: inline-flex;
	padding: 15px 30px;
	height: 40px;
	line-height: 40px;
	color: #000;
	text-decoration: none;
	transition-duration: 0.3s;
}

.navitem:hover, .dropdownl:hover > a
{
	color: #FFC934;
}

.navitem:hover, .dropdownr:hover > a
{
	color: #FFC934;
}

.dropdownl
{
	overflow: hidden;
	background-color: #FFF;
	color: #000;
	float: left;
}

.dropdownr
{
	overflow: hidden;
	background-color: #FFF;
	color: #000;
	float: right;
}

.dropdownitems
{
	display: none;
	position: relative;
	transition: all 0.5 ease;
	z-index: 1;
}

.dropdownitems a
{
	float: none;
	color: #000;
	padding: 12px 0 12px 0;
	text-decoration: none;
	display: block;
	text-align: center;
	transition-duration: 0.3s;
}

.dropdownl:hover .dropdownitems
{
	display: block;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}

.dropdownr:hover .dropdownitems
{
	display: block;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}

.dropdownitems a:hover
{
	color: #FFC934;
}


/* Research Log Container */
.container
{
	overflow: hidden;
	background-color: #FFF;
	padding: 10px;
	border-radius: 10px;
	border-top: 2px solid #000;
	border-left: 4px double #FFC934;
	border-right: 4px double #FFC934;
	border-bottom: 2px solid #000;
	margin: 6rem 2rem 3rem 2rem;
	color: #FFC934;
	text-align: center;
	position: relative;
}

/* "Research Log" title with logos */
.header
{
	display: inline-flex;
}

.logo
{
	font-family: 'Fira Sans', sans-serif;
	color: #FFC934;
	font-size: 30px;
	letter-spacing: -2px;
	text-shadow: 1px 1px 2px #000;
	text-align: center;
	padding: 10px 20px;
}

.wildcat1
{
	width: 86.4px;
	height: 57.6px;
}

.wildcat1:hover
{
	transform: rotate(-30deg);
}

.wildcat2
{
	width: 86.4px;
	height: 57.6px;
}

.wildcat2:hover
{
	transform: rotate(30deg);
}

hr
{
	margin: 10px 0 20px 0;
	border: 1px solid #000;
}

.calender
{
	width: 100%;	/* define the width of the calender */
	border-radius: 3px;
	text-align: center;
	font-family: sans-serif;
	color: #000;
	margin-top: 10px;
	padding-bottom: 10px;
}


.table	
{
	width: 100%; /* define the width of the calender in the border */
	text-align: center;
}

/* Month and Year Header */
.head	
{
	color: black;
	background-color: #FFF;
	padding: 15px; /*top-bot 15px each*/
}

#monthAndYear	
{
	font-weight: bold;
	font-size: 20px;
}

/* current day */
.bg-info	
{
	background-color: rgba(255, 201, 52, .8);
	color: black

}

/* Days of the week */
th	
{
	background-color: black;
	color: #FFC934;
	width: 14%;
	height: 40px;
}

/* Individual calender days */
td	
{
	width: 14%;
	height: 100px;
	border: 1px solid #000;
}

td:hover
{
	box-shadow: 0 1px 20px #999;
}

/* background of individual days */
tr 	
{
	background-color: #FFF;
}

/*---------------------------------change month button-----------------------------*/
.button	
{
	border: none;
	background-color: transparent;
	font-size: 25px;
	border-radius: 6px;
	position: relative;
	bottom: 5px;
	width: 5%;
}

.button:hover	
{
	color: #FFC934;
	transition: 0.3s;
	cursor: pointer;
}

.button:focus
{
	outline: 0;
}

#previous	
{
	float: left;
}

#next	
{
	float: right;
}



/*------------------------------addNew button--------------------------------*/
.addNewButton	
{
	font-size: 16px;
	border: none;
	border-radius: 50%;
	float: right;
	background-color: #000;
	color: #FFF;
	margin-right: 3%;
}

.addNewButton:hover
{
	background-color: rgba(0,0,0,0.7);
	cursor: pointer;
}

.addNewButton:focus
{
	outline: 0;
}

.bottomnav
{
	height: 100px;
	background-color: #000;
	box-shadow: 0px -8px 16px 0px rgba(0, 0, 0, 0.2);
	display: flex;
	width: 100%;
	text-align: center;
	bottom: 0;
	left: 0;
	position: relative;
}

.bottomnav > ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	flex: 1;
	margin-left: 10px;
}

.bottomnav > ul > li
{
	display: inline-block;
}

.bottomitem
{
	display: inline-block;
	padding: 30px 30px;
	height: 40px;
	color: #FFF;
	text-decoration: none;
	transition-duration: 0.3s;
	line-height: 30px
}

.bottomitem:hover
{
	color: #FFC934;
}

.footerlogo
{
	font-family: 'Fira Sans', sans-serif;
	color: #FFC934;
	font-size: 30px;
	letter-spacing: -2px;
	text-shadow: 1px 1px 2px #000;
	text-align: center;
}

.copyright
{
	float: right;
	padding: 15px 20px 0 0;
}

.copyright a
{
	text-decoration: none;
}

.copyright p
{
	color: #FFF;
	text-align: center;
}

.slogan
{
	font-size: 11px;
}

@media screen and (max-width: 400px) 
{
  .topnav a 
  {
    float: none;
    width: 100%;
  }
}
